src/main/mule/global/retrieveconsolidatedroutesandschedulesxpapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
   <flow name="retrieveconsolidatedroutesandschedulesxpapi-main">
        <http:listener config-ref="retrieveconsolidatedroutesandschedulesxpapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrieveconsolidatedroutesandschedulesxpapi-config" />
        <error-handler ref="globalErrorHandler">
            
        </error-handler>
    </flow>
    <flow name="retrieveconsolidatedroutesandschedulesxpapi-console">
        <http:listener config-ref="retrieveconsolidatedroutesandschedulesxpapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrieveconsolidatedroutesandschedulesxpapi-config" />
    </flow>
    <sub-flow name="retrieveconsolidatedroutesandschedulesxpapiSub_Flow" doc:id="ebe3baf5-1214-43c0-bf6e-603e0dccc597" >
		<ee:transform doc:name="Initialise Variables for Request message Transform Message" doc:id="148c564d-46f9-47d4-a61e-b89f40d59f89" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="transportCompany" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.'companyName']]></ee:set-variable>
				<ee:set-variable variableName="transportType" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.transportType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
				<ee:set-variable variableName="departureLocation" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.departureLocation]]></ee:set-variable>
				<ee:set-variable variableName="destinationLocation" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.destinationLocation]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<flow name="get:\booking\(transportType)\routes:retrieveconsolidatedroutesandschedulesxpapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="8d2b97b3-394f-4ccc-a4d3-3f810a0eaefa" name="retrieveconsolidatedroutesandschedulesxpapiSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="8ece8a10-00ea-4d6c-a096-5c6665d4ee5b" message="Request Recieved for Routes BAPI For TransactionId: #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="b9fe0e31-ccba-4599-bc60-fe5d6f31872f" name="fastgo-sapi-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="1365ff8e-11b7-4af5-8f5b-cbb53a025a41" message="Response Sent for Routes BAPI For TransactionId: #[vars.transactionId]"/>
		<error-handler ref="globalErrorHandler" />
    </flow>
    <flow name="get:\booking\(transportType)\schedules:retrieveconsolidatedroutesandschedulesxpapi-config">
    <flow-ref doc:name="Flow Reference" doc:id="0081e068-5815-43cd-afc3-4774898acac0" name="retrieveconsolidatedroutesandschedulesxpapiSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="f831d852-df8c-41ea-b962-1ddc1a1dda57" message="Request Recieved for Schedules BAPI For TransactionId: #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="ac9831eb-2b02-4d8e-92e9-6b823a9c02ff" name="travelontip-sapi-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="eabf8d50-75d2-4efc-8567-cf430e540b83" message="Response Sent for Schedules BAPI For TransactionId: #[vars.transactionId]"/>
		
    </flow>
</mule>
